.body_block {
    position: absolute;
    width: 100%;
    height: auto;
    background-color: $color-grey;

    .cold {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);

        &_title {
            margin: 2rem 4rem;
            padding-left: 1.5rem;
            color: $color-white;
            border-left: 3px solid $color-green;
        }

        &_products {
            display: flex;
            justify-content: space-around;
            align-items: center;

            .product {
            padding: 1rem;
            margin-bottom: 2rem;
            width: 22%;
            height: 385px;
            border-radius: 10px;

            background: linear-gradient(90deg, #494544 0%, $color-bluegrey 100%);

                &_img {
                    margin: -1rem;
                    margin-bottom: 1rem;
                    img {
                    width: 100%;
                    height: 227px;

                    border-radius: 10px 10px 0 0;
                    }
                }

                &_header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .product_title {
                        color: $color-white;
                        font-size: 22px;
                        font-weight: 700;
                    }

                    .product_mass {
                        color: $color-white;
                        font-size: 12px;
                        font-weight: 400;
                    }
                }

                &_text {
                    color: $color-white;
                    font-size: 13px;
                    font-weight: 400;
                }

                &_footer {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 1rem;

                    .price {
                        color: $color-white;
                        font-size: 20px;
                        font-weight: 600;
                    }

                    .button {
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        width: 137px;
                        height: 44px;
                        background-color: $color-green;
                        border-radius: 10px;
                        border: $color-green;

                        p {
                            color: $color-white;
                            font-size: 14px;
                            font-weight: 600;
                        }

                        img {
                            width: 18px;
                            height: 18px;
                        }
                    }
                }
            }
        }
    }

    .hot {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);

        &_title {
            margin: 2rem 4rem;
            padding-left: 1.5rem;
            color: $color-white;
            border-left: 3px solid $color-green;
        }

        &_products {
            display: flex;
            justify-content: space-around;
            align-items: center;

            .product {
            padding: 1rem;
            margin-bottom: 2rem;
            width: 22%;
            height: 385px;
            border-radius: 10px;

            background: linear-gradient(90deg, #494544 0%, $color-bluegrey 100%);

                &_img {
                    margin: -1rem;
                    margin-bottom: 1rem;
                    img {
                    width: 100%;
                    height: 227px;

                    border-radius: 10px 10px 0 0;
                    }
                }

                &_header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .product_title {
                        color: $color-white;
                        font-size: 22px;
                        font-weight: 700;
                    }

                    .product_mass {
                        color: $color-white;
                        font-size: 12px;
                        font-weight: 400;
                    }
                }

                &_text {
                    color: $color-white;
                    font-size: 13px;
                    font-weight: 400;
                }

                &_footer {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 1rem;

                    .price {
                        color: $color-white;
                        font-size: 20px;
                        font-weight: 600;
                    }

                    .button {
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        width: 137px;
                        height: 44px;
                        background-color: $color-green;
                        border-radius: 10px;
                        border: $color-green;

                        p {
                            color: $color-white;
                            font-size: 14px;
                            font-weight: 600;
                        }

                        img {
                            width: 18px;
                            height: 18px;
                        }
                    }
                }
            }
        }
    }

    .meat {

        &_title {
            margin: 2rem 4rem;
            padding-left: 1.5rem;
            color: $color-white;
            border-left: 3px solid $color-green;
        }

        &_products {
            display: flex;
            justify-content: space-around;
            align-items: center;

            .product {
            padding: 1rem;
            margin-bottom: 2rem;
            width: 22%;
            height: 385px;
            border-radius: 10px;

            background: linear-gradient(90deg, #494544 0%, $color-bluegrey 100%);

                &_img {
                    margin: -1rem;
                    margin-bottom: 1rem;
                    img {
                    width: 100%;
                    height: 227px;

                    border-radius: 10px 10px 0 0;
                    }
                }

                &_header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .product_title {
                        color: $color-white;
                        font-size: 22px;
                        font-weight: 700;
                    }

                    .product_mass {
                        color: $color-white;
                        font-size: 12px;
                        font-weight: 400;
                    }
                }

                &_text {
                    color: $color-white;
                    font-size: 13px;
                    font-weight: 400;
                }

                &_footer {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 1rem;

                    .price {
                        color: $color-white;
                        font-size: 20px;
                        font-weight: 600;
                    }

                    .button {
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        width: 137px;
                        height: 44px;
                        background-color: $color-green;
                        border-radius: 10px;
                        border: $color-green;

                        p {
                            color: $color-white;
                            font-size: 14px;
                            font-weight: 600;
                        }

                        img {
                            width: 18px;
                            height: 18px;
                        }
                    }
                }
            }
        }
    }

    .cafe {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        height: 610px;
        float: right;
        background-image: url(../img/MaskGroup2.jpg);
        background-size: cover;
        background-repeat: no-repeat;

        &_description {
            width: 60%;
            padding: 60px 50px;

            h1 {
                color: $color-white;
                font-size: 32px;
                font-weight: 700;
            }

            p {
                color: $color-white;
                font-size: 20px;
                font-weight: 400;
                line-height: 25px;
            }

            button {
                margin-top: 50px;
                width: 223px;
                height: 59px;
                background-color: $color-grey;
                border: 1px solid $color-lightgrey;
                border-radius: 10px;
                color: $color-white;
            }
        }

        &_cards {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            width: 40%;

            .card1 {
                display: flex;
                flex-direction: column;
                justify-content: end;
                align-items: center;
                width: 227px;
                height: 227px;
                background-color: rgba(80, 75, 74, 0.9);

                h6 {
                    color: $color-white;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 25px;
                }
            }

            .card2 {
                display: flex;
                flex-direction: column;
                justify-content: end;
                align-items: center;

                width: 227px;
                height: 227px;
                background-color: rgba(80, 75, 74, 0.9);

                h6 {
                    color: $color-green;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 25px;
                }
            }

            .card3 {
                display: flex;
                flex-direction: column;
                justify-content: end;
                align-items: center;

                margin-top: 1rem;
                width: 227px;
                height: 227px;
                background-color: rgba(80, 75, 74, 0.9);

                h6 {
                    color: $color-white;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 25px;
                }
            }

            .card4 {
                display: flex;
                flex-direction: column;
                justify-content: end;
                align-items: center;

                margin-top: 1rem;
                width: 227px;
                height: 227px;
                background-color: rgba(80, 75, 74, 0.9);
 
                h6 {
                    color: $color-white;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 25px;
                }
            }
        }
    }
}