.header {
    // position: absolute;
    width: 100%;
    height: auto;
    // top: 0;
    background-color: $color-grey;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    &_contacts {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .logo {

            .logos_title {
                font-size: 20px;
                color: $color-white;
            }
        }

        .header_search {
            position: relative;
            width: 40%;
            padding: 1.5rem;

            input::placeholder {
                font-size: 15px;
                color: $color-white;
            }

            .search {
                display: inline-block;
                width: 100%;
                height: 52px;
                
                border: 2px solid $color-bluegrey;
                border-radius: 10px;
                padding: 1.5rem 4rem;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                color: $color-lightgrey;
                background-color: $color-bluegrey;
                outline: none;
            }

            &::before {
                content: url(../img/Location.png);
                width: 1rem;
                height: 1rem;

                position: absolute;
                left: 33px;
                top: 37px;

                z-index: 10;
            }

            &::after {
                content: url(../img/Search.png);
                width: 1rem;
                height: 1rem;

                position: absolute;
                right: 40px;
                top: 37px;
            }
        }

        .header_contact {
            width: 20%;

            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .header_call {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 32px;
                height: 32px;
                border-radius: 50%;
                background-color: $color-green;

                img {
                    width: 16px;
                    height: 16px;
                }
            }

            .header_number {

                .contacts {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 20px;

                    color: $color-lightgrey;
                }

                a {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;

                    text-decoration: none;
                    color: $color-white;
                }
            }
        }

        .header_basket {
            display: flex;
            justify-content: space-around;
            align-items: center;

            width: 149px;
            height: 52px;

            background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
            border-radius: 10px;

            .basket_text {
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                color: $color-white;
                padding-right: 1rem;
                border-right: 1px solid rgba(255, 255, 255, 0.3);
            }

            .basket_number {
                display: flex;
                justify-content: center;
                align-items: center;
                
                width: 24px;
                height: 24px;
                
                border-radius: 50%;
                background: $color-white;
                
                font-weight: 600;
                font-size: 12px;
                line-height: 14px;

                color: $color-grey;
            }
        }
    }

    &_banner {
        &.banner {
        padding: 10rem;
        background-image: url(../img/MaskGroup.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        }

        .banner {
            &_title {
                max-width: 48rem;

                font-weight: 900;
                font-size: 40px;

                color: $color-white;
                text-align: center;
                transform: rotate(-8.37deg);
            }


            &_description {
                max-width: 25rem;
                margin-left: 14rem;
                pad: .5rem;

                font-style: italic;
                font-weight: 900;
                font-size: 24px;

                color: $color-white;
                text-align: center;
                background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
                transform: rotate(-8.37deg);

            }
        }

    }

    .header_navigation {
        height: auto;

        .navigation {  
            margin: 1.5rem auto;

            &_lists {
                display: flex;
                justify-content: space-around;
                align-items: center;
        
                .navigation_list {
                    list-style-type: none;

                    &:hover {
                        border-bottom: 2px solid $color-green;
                    } 

                    .navigation_link {
                        color: $color-white;
                        text-decoration: none;

                        font-weight: 500;
                        font-size: 18px;
                        line-height: 21px;

                        &:hover {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}